/* Root Variables */
:root {
  /* Fonts */

  --roboto-font: 'Roboto', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --nunito-font: 'Nunito', sans-serif;
  --poppins-font: 'Poppins', sans-serif;

  /* Global Colors */
  --background-color: #ffffff; /* Background color for the entire website */
  --default-color: #444444; /* Default color used for the majority of the text content across the entire website */
  --heading-color: #012970; /* Color for headings, subheadings and title throughout the website */
  --accent-color: #4154f1; /* Accent color  used for buttons, links, and other elements that need to stand out */
  --surface-color: #ffffff; /* The surface color is used as a background of boxed elements within sections, such as cards, icon boxes*/
  --contrast-color: #ffffff; /* Contrast color for text, ensuring readability against backgrounds of accent, heading, or default colors. */

  /* Nav Menu Colors */
  --nav-color: #012970; /* The default color of the main navmenu links */
  --nav-hover-color: #4154f1; /* Applied to main navmenu links when they are hovered over or active */
  --nav-mobile-background-color: #ffffff; /* Used as the background color for mobile navigation menu */
  --nav-dropdown-background-color: #ffffff; /* Used as the background color for dropdown items that appear when hovering over primary navigation items */
  --nav-dropdown-color: #212529; /* Used for navigation links of the dropdown items in the navigation menu. */
  --nav-dropdown-hover-color: #4154f1; /* Similar to --nav-hover-color, this color is applied to dropdown navigation links when they are hovered over. */
}

/*?  General Styling & Shared Classes */

/* Dark Mode Variables */
.dark-mode {
  --dark-background-color: #060606;
  --dark-default-color: #ffffff;
  --dark-heading-color: #ffffff;
  --dark-surface-color: #252525;
  --dark-contrast-color: #ffffff;
}

body {
  color: var(--default-color);
  background-color: var(--background-color);
  font-family: var(--roboto-font);
}

a {
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: color-mix(in srgb, var(--accent-color), transparent 25%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
  font-family: var(--nunito-font);
}

.container-fluid {
  width: 100%;
}

.container {
  margin: 0 auto;
  padding: 0 1.2rem;
  max-width: 1320px;
}
/*! END General Styling & Shared Classes */
/*? Navigation Styling */
.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 1.2rem;
  transition: all 0.3s ease-in-out;
  background-color: transparent;
  max-width: 1200px; /* Adjust max-width as needed */
  margin: 0 auto; /* Center the navigation bar */
}

/*? Navigation Logo Styling */
.nav__logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}
.nav__logo-text {
  font-size: 3rem;
  font-family: var(--nunito-font);
  font-weight: 700;
  color: var(--heading-color);
}
.nav__logo-icon {
  color: var(--accent-color);
}
/*? END Navigation Logo Styling */
/*? Mobile Navigation Styling */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9998;
}
.overlay.active {
  display: block;
}

/*? Mobile Navigation Menu List Styling */
.mobile-nav__menu-list {
  max-height: 0;
  position: fixed;
  top: 70px;
  right: 12px;
  bottom: 20px;
  left: 12px;
  border-radius: 6px;
  background-color: var(--nav-mobile-background-color);
  transition: all 0.3s ease-in-out;
  z-index: 9999;
  overflow-y: hidden;
  font-size: 17px;
  font-family: var(--poppins-font);
  font-weight: 500;
}

.mobile-nav__menu-list-active {
  max-height: 1000px;
  opacity: 1;
  padding: 10px 0px;
  overflow-y: scroll;
}

.mobile-nav__menu-item {
  padding: 9px 20px;
}

/* Mobile Navigation Menu Link Styling */
.mobile-nav__menu-link,
.mobile-nav__submenu-link {
  color: var(--nav-dropdown-color);
}
.mobile-nav__menu-link.active {
  color: var(--nav-dropdown-hover-color);
}
.mobile-nav__menu-link:hover {
  color: var(--nav-dropdown-hover-color);
}

/*? Mobile Navigation Sub-Menu Header*/
.mobile-nav__submenu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-nav__submenu-icon {
  margin-right: 9px;
  background-color: color-mix(in srgb, var(--accent-color), transparent 90%);
  padding: 8px;
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.mobile-nav__submenu-icon.active {
  background-color: var(--accent-color);
  color: var(--contrast-color);
  transform: rotate(180deg);
}

.mobile-nav__submenu-body {
  opacity: 0;
  max-height: 0;
  background-color: rgba(33, 37, 41, 0.03);
  border: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  border-radius: 6px;
  margin: 0px 30px;
  transition: all 0.3s ease;
  overflow: hidden;
}
.mobile-nav__submenu-body.active {
  opacity: 1;
  max-height: 1000px;
  padding: 10px 0px;
}

.mobile-nav__submenu-body-item {
  padding: 10px 20px;
}

/*? END Mobile Navigation Sub-Menu Header*/
/* ? Mobile Navigation Right */
.mobile-nav__right {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.mobile-nav__btn {
  color: var(--contrast-color);
  background-color: var(--accent-color);
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 4px;
  padding: 0.6rem 1.5rem;
}
/*? Mobile Hamburger  */
.mobile__hamburger {
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 4px;
  background-color: rgb(233, 233, 233);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 0.5rem;
  cursor: pointer;
}
.mobile__hamburger-line {
  position: relative;
}
.mobile__hamburger-line::before {
  transition: all 0.2s ease-in-out;
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--nav-color);
  border-radius: 1px;
}
.mobile__hamburger-active .mobile__hamburger-line:nth-child(2)::before {
  opacity: 0;
}
.mobile__hamburger-active .mobile__hamburger-line:nth-child(1)::before {
  transform: rotate(45deg) translate(6px, 5.5px);
}
.mobile__hamburger-active .mobile__hamburger-line:nth-child(3)::before {
  transform: rotate(-45deg) translate(6px, -5.8px);
}
.mobile__hamburger-active {
  position: relative;
  z-index: 9999;
}
/*? Larger Screen Navigation Menu */
.nav__menu-list {
  display: none;
  justify-content: space-between;
  align-items: center;
  font-size: 17px;
  font-family: var(--poppins-font);
  font-weight: 500;
}
.nav__menu-item {
  position: relative; /* Important for the dropdown */
}
.nav__menu-link {
  padding: 1.8rem 1.5rem;
  color: var(--nav-color);
}
.nav__menu-list .mobile-nav__btn {
  padding: 1rem 1.5rem;
}

.mobile-nav__btn:hover,
.nav__btn:hover {
  color: var(--contrast-color);
  background: color-mix(in srgb, var(--accent-color), transparent 15%);
}

.dropdown-menu-header {
  display: flex;
  align-items: center;
}
.dropdown-menu-header svg {
  transition: all 0.25s ease-in-out;
}
.nav__menu-item:hover .dropdown-menu-header svg {
  transition: all 0.25s ease-in-out;
  transform: rotate(180deg);
  color: var(--accent-color);
}
.dropdown-menu-header svg {
  margin-left: -1rem;
  margin-right: 0.5rem;
  color: var(--accent-color);
}
.dropdown-menu {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  list-style: none;
  padding: 0;
  margin: 0;
  opacity: 0;
  transform: translateY(80px);
  transition: opacity 0.2s ease 0.1s, transform 0.25s ease 0.1s;
  pointer-events: none;
  width: max-content;
  border-radius: 6px;
}

.dropdown-menu li {
  padding: 8px 16px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: black;
  display: block;
}

.nav__menu-item:hover .dropdown-menu,
.dropdown-menu:hover {
  opacity: 1;
  transform: translateY(60px);
  pointer-events: auto;
}

.nav__menu-item:hover .nav__menu-link {
  color: var(--accent-color);
}

.dropdown-menu a:hover {
  background-color: var(--nav-dropdown-background-color);
  color: var(--nav-dropdown-hover-color);
  transition: color 0.25s ease-in-out;
}
/* Nav Styling  */

.main {
  height: 500px;
  width: 100%;
  background-color: rgb(76, 255, 180);
}

.test {
  margin-top: 1rem;
  padding: 20px;
  background-color: red;
  color: wheat;
}
