html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

/* Box model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Typography */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  overflow-wrap: break-word;
}

/* Lists */
ol,
ul {
  list-style: none;
}

/* Tables */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Forms */
input,
button,
textarea,
select {
  font: inherit;
}

/* Images */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* Reset margins, padding, border, font, vertical-align */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
