/* Media query for screens larger than 992px */
@media screen and (min-width: 992px) {
  /*? Hide the Mobile Screen Navigation Menu */
  .mobile-nav__right {
    display: none;
  }

  .overlay.active {
    display: none;
  }

  .mobile-nav__menu-list {
    display: none;
  }

  /*? Show the Larger Screen Navigation Menu */
  .nav__menu-list {
    display: flex;
  }
}
